name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          # Usar o token com permissões de escrita
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0 # Necessário para o semantic-release obter o histórico completo de commits
      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.5'
      
      - name: Instalar dependências
        run: npm ci

      - name: Testes
        run: npm test
      
      - name: Build do projeto
        run: npm run build:lib
        
      - name: Executar release
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/npm
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}